:root {
    --green: #55873e;
    --lightGreen: #80b468;
    --darkGreen: #29471c;
    --dark: #17191D;
    --light: #f4f4f4;
    --darkBrown: #5e422a;
    --brown: #7c593a;
    --lightBrown: #e4ddd7; 
}
*{
    margin: 0;
}
.meadowBack {
    background-color: var(--lightGreen);
    margin-right: 20;
}
.header {
    background-color: var(--green);
    color: var(--light);
    margin-right: 30;
}
.button{
    margin: 5px;
}
.forest {
    color: var(--green);
}
.subHeader {
    font-size: 13px;
    margin-bottom: 10px;
}
.earthy{
    background-color: var(--darkBrown);
    color: var(--lightBrown);
}
.lightEarthy{
    background-color: var(--brown);
    color: var(--lightBrown);
}
.brightEarthy{
    background-color: var(--lightBrown);
}
.box{
    width: 300px;
    margin-left: 3px;
}

