:root {
    --green: #55873e;
    --dark: #17191D;
    --light: #f4f4f4;
    --lightGreen: #93c47d;
}
* {
    margin: 0;
    margin-left: 3;
}
.meadowBack {
    background-color: var(--lightGreen);
    margin-right: 20;
}
.header {
    background-color: var(--green);
    color: var(--light);
    margin-right: 30;
}
.button{
    color: var(--green);
    margin: 5px;
}
.forest {
    color: var(--green);
}
.subHeader {
    color: var(--green);
    font-size: 13px;
    margin-bottom: 10px;
}
