:root {
    --green: #55873e;
    --darkGreen: #276648;
    --darkestGreen: #1e5035;
    
    --deepGreen: #2c2d26;

    --darkBrown: #5e422a;
    --brown: #7d5a3b;
    --lightBrown: #e4ddd7; 

  
}
*{
    margin: 0;
}
.button{
    margin: 5px;
}
.forest {
    color: var(--green);
}
.darkestGreen{
    background-color: var(--darkestGreen);
}
.subHeader {
    font-size: 13px;
    margin-bottom: 10px;
}
.earthy{
    background-color: var(--darkBrown);
    color: var(--lightBrown);
}
.lightEarthy{
    background-color: var(--brown);
    color: var(--lightBrown);
}
.brightEarthy{
    background-color: var(--lightBrown);
}
.box{
    width: 300px;
    margin-left: 3px;
}

.wrapper{
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
    background-color: var(--deepGreen);
}
body{
    height: 100%;
}
.theGame{
    display: grid;
    grid-template-columns: 16em 16em 1fr;
    column-gap: 1em;
    white-space: nowrap;
}
.leftPane{
    display:grid;
    grid-template-rows:auto 1fr;
    row-gap: 1em;
    margin-bottom: 1em;
}
.bugMenu{
    display:grid;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    grid-template-columns: 2fr 1fr;
    overflow-y: scroll;
    background-color: var(--darkGreen);
    margin-bottom: 1em;
}
.totalBugTracker{
    overflow-wrap: unset;
}
.selectorImage{
    display:flex;
    align-items:center;
    justify-content:center;

}
.selectorText{
    text-align:center;
}